.inlineFormItemContainer {
    margin: 0;
}

.inlineFormItemLeft {
    display: inline-block;
    width: calc(50% - 8px);
}

.inlineFormItemRight {
    display: inline-block;
    width: calc(50% - 8px);
    margin: 0 8px;
}

.fullWidth {
    width: 100%;
}