.iconContainer {
    margin-bottom: 16px;
    height: 48px;
    width: 100%;
}

.icon {
    transform: scale(3.5);
    margin-top: 16px;
    color:#1677FF;
}

.iconText {
    color: rgba(0, 0, 0, 0.88);
    font-size: 16px;
}